@keyframes changeBackground {
    0% {
        background-color: rgb(4, 4, 243);
    }

    50% {
        background-color: rgb(122, 3, 138);
    }

    100% {
        background-color: rgb(4, 176, 199);
    }
}

body {
    animation: changeBackground 5s ease-in-out 1s infinite alternate;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 80px;
    color: rgb(6, 238, 64);
    margin: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}